@tailwind base;
@tailwind components;
@tailwind utilities;

/* DanaVF font-face */
@font-face {
  font-family: 'DanaVF';
  src:
    url('/fonts/DanaVF.woff2') format('woff2'),
    url('/fonts/DanaVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  @import 'base';
  html,
  body {
    font-family: 'DanaVF', sans-serif !important;
  }
}

@layer components {
  @import 'components';
  @import 'navigation';
  @import 'buttons';
}

@layer utilities {
  @import 'utilities';
}

@layer swiper {
  @import '../../node_modules/swiper/swiper.scss';
  @import 'swiper/scss/pagination';
  @import './swiper.scss';
}
